.post-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.notification-style {
  display: flex;
  justify-content: center;
  align-items: center;
}
